$color-blue-clear: rgb(110, 157, 245);
$color-blue: rgb(74, 128, 246);

$color-red: rgb(232, 78, 61);

$color-green: rgb(103, 203, 88);

$color-grey-clear: rgb(241, 241, 245);
$color-grey: rgb(112, 119, 128);
$color-black: rgb(36, 47, 59);

$primary: $color-blue;
$light: $color-grey-clear;